aiogram==1.2.2
aiohttp==2.3.10
aiovk==1.3.0
async-timeout==2.0.1
attrs==17.4.0
Django==2.0.4
multidict==4.1.0
Pillow==5.1.0
psycopg2-binary==2.7.4
pytz==2018.3
sentry-sdk==0.9.0
ujson==1.35
urllib3==1.25.3
wget==3.2
yarl==1.1.1